body{
    font-family: 'Inter', sans-serif;
    text-align: center;
    margin-top: 0;
    }

#hero {
    width: 592px;
    margin: 0 auto 72px ; /* As margens funcionam como um relógio na ordem de escrita
    primeiro a de cima depois direita, baixo e esquerda */
    
}
#hero img{
    margin: 0 auto 43px;
}
h1{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 49px;
    line-height: 56px;
    margin-bottom: 22px;
}

h1 span{
    font-weight: bold;
}
span {
   color: #FF9900;
}
p, #footer {
    color: #7D7987;
    font-size: 14px;
    line-height: 28px;
}
/* sempre que uso a # significa que estou falando de ID, se eu colocar somente "."
significa que esou falando de Class(classificação). */

#footer a + a{
    margin-left: 32px;
    
}
#footer #line{
    line-height: 0px;
    border: 1px solid #ECEFF2;

    width: 568px;
    margin: 0px auto 8px;
}
#balls{
    position: fixed;
    bottom: 0px;
    right: 0px;
}